.img {
    height: 100vh; /* Set to viewport height for testing */
    width: 100vw;  /* Set to viewport width for testing */

  }

  /* .video-container{
    padding: -10px;
  }
   */
  /* .hii {
    background-color: black;
  } */
  